.search-form {
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.unscheduled .search-form,
.vendor .search-form {
  max-height: 400px;
}

.vendor .controls__search {
  display: none;
}

.vendor .controls {
  margin-bottom: 15px;
}

.unscheduled .search-form {
  margin-bottom: 20px;
}


.search-form.open {
  padding-top: 20px;
  max-height: 200px;
}

.search-form__inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.search-form__input {
  padding: 15px 20px;
  width: 48%;

  background: #4B4B4B;
  border: none;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 300;
  color: #939393;
  letter-spacing: 0;
}