.search-form {
  padding-top: 15px;
  margin-bottom: 0;
}

.search-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form__input {
  padding: 15px 20px;
  width: 48%;

  background: #4B4B4B;
  border: none;
  border-radius: 6px;

  font-size: 18px;
  font-weight: 300;
  color: #939393;
  letter-spacing: 0;
}