extends layout/layout.pug

block content
  
  main.main.container
    form.form
      .truck.special.step
        .truck__time 10:55
        .truck__name 8276 - AUSA Dry Groc(GC PDC)
      .truck-options
        | Accepted & Checked In
      .footer
        a.back(href="#")
          span.back__icon
        .footer__buttons
          button.btn.btn__accept.btn__blue(href="#")
            | Continue
