extends layout/layout.pug

block content
  
  main.main.container
    form.form
      .truck.special.step
        .truck__time 10:55
        .truck__name 8276 - AUSA Dry Groc(GC PDC)
        .truck__temperature Chill | Frozen
      .truck-options.truck-options__temperature
        .temperature
          .temperature__text Temperature
          .temperature__range-wrapper
            input.temperature__range(type="range" min="-20" max="99" step="1")
          .temperature__celsius
            input.temperature__celsius-digits(type="number" min="-20" max="99" placeholder="--")
              
            sup o
        .conditions
          .conditions__select-wrapper.dark-select
            select.conditions__select.is-hidden(data-name="conditions" multiple)
              option(value="1") Conditions1
              option(value="2") Conditions2
              option(value="3") Conditions3
              option(value="4") Conditions4
              option(value="5") Conditions5
              option(value="6") Conditions6
              option(value="7") Conditions7
            .multiple-select
              .multiple-select__placeholder
                | Select Conditions
            .multiple-select__dropdown
              .multiple-select__arrow

      .footer
        a.back(href="#")
          span.back__icon
        .footer__buttons
          button.btn.btn__accept.disabled
            | Accept
          button.btn.btn__reject.disabled
            | Reject