extends layout/layout.pug

block content
  main.main.container
    .truck.special.step
      .truck__time 10:55
      .truck__name 8276 - AUSA Dry Groc(GC PDC)

    .truck-options
      .truck-options__selects
        .truck-options__select-wrapper
          select.truck-options__select(data-name="carrier")
            option(value="placeholder" placeholder) Select Carrier
            option(value="carrier1") Carrier1
            option(value="carrier2") Carrier2
            option(value="carrier3") Carrier3
            option(value="carrier4") Carrier4
        .truck-options__select-wrapper
          select.truck-options__select(data-name="door")
            option(value="placeholder" placeholder) Select Door
            option(value="door1") Door1
            option(value="door2") Door2
            option(value="door3") Door3
            option(value="door4") Door4
    
    .footer
      a.back(href="#")
        span.back__icon
      .footer__buttons
        a.btn.disabled.step1-button(href="#")
          | Next
  