.search-form
  .search-form__inputs
    input.search-form__input(type='text', placeholder='Vendor Code')
    input.search-form__input(type='text', placeholder='Vendor Name')
  button.btn.btn__blue.search-form__submit Search