.trucks
  ul
    li
      a(href="#").truck.late
        .truck__time 10:55
        .truck__name 0331 - AUSA Produce(GC PDC) AUSA Produce(GC PDC)
        .truck__arrow.arrow
    li
      a(href="#").truck.special
        .truck__time 10:55
        .truck__name 8276 - AUSA Dry Groc(GC PDC)
        .truck__arrow.arrow
    li
      a(href="#").truck
        .truck__time 10:55
        .truck__name 5437 - AUSA Dairy(GC PDC)
        .truck__arrow.arrow